* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffcf9;
  width: 100vw;
  height: 100vh;
}

/*  PAGE EDITIONS : DEBUT HEADER */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(fond-porcelaine.PNG);
  background-position: center;
  background-size: 100%;
  height: 350px;
}

.lien-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.912);
  box-shadow: 0px 0px 9px 2px rgba(68, 66, 132, 0.75);
  padding: 20px;
  margin: 20px;
  z-index: 1;
  position: relative;
  bottom: 100px;
}

.lien-navbar1 {
  text-decoration: none;
  color: #3c4f76;
  font-size: 25px;
}

@media (hover: hover) {
  .lien-navbar1:hover {
    color: #e6c96e;
  }
}

.p-img-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  position: relative;
  bottom: 50px;
}

.img1 {
  margin: 20px;
}
/*  PAGE EDITIONS : FIN HEADER */

/* PAGE EDITION : DEBUT MAIN */

.ornement-hd {
  position: absolute;
  bottom: 2815px;
  left: 15px;
}

.ornement-hg {
  position: absolute;
  left: 890px;
  bottom: 2815px;
}

.ornement-bd {
  position: absolute;
  top: 2815px;
  left: 15px;
}

.ornement-bg {
  position: absolute;
  top: 2815px;
  left: 890px;
}

.main-edition-1 {
  box-shadow: 0px 0px 9px 2px rgba(68, 66, 132, 0.75);
  background-color: rgba(255, 255, 255, 0.914);
  margin: 70px;
  padding: 30px;
  font-size: 25px;
  position: absolute;
}

.p-edition-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.subtitle-edition,
.title-edition {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title-edition {
  color: #3c4f76;
}

.subtitle-edition {
  color: #b7afc3;
}

/* .img-edition-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
} */

/* .img1 {
  border-radius: 300px;
} */

.modal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.modal-toggle {
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background-image: url(https://placehold.co/200x400);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 400px;
  min-height: 400px;
  border: 1px solid #3c4f76;
  box-shadow: 10px 5px 5px #3c4f76;
  margin: 20px auto;
  text-align: center;
}

.modal-toggle:hover {
  transform: scale(1.1);
  box-shadow: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal {
  width: 300px;
  margin: 75px auto;
  padding: 20px;
  background: whitesmoke;
  border: 1px solid #3c4f76;
  box-shadow: 0 0 50px #3c4f76;
  position: relative;
}

.modal h2 {
  margin-top: 0;
  color: #3c4f76;
}

.modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  text-decoration: none;
  color: #3c4f76;
}

.modal .contenu {
  max-height: 400px;
  overflow: auto;
}

.p-edition-1 {
  text-align: center;
  line-height: 40px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 30px;
}

.edition-1 {
  padding-top: 30px;
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
}



/* PAGE EDITION : FIN MAIN  */

/* PAGE EDITIONS : DEBUT FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 100px;
  background-image: url(fond-porcelaine.PNG);
  background-position: center;
  background-size: 100%;
  position: absolute;
  top: 3600px;
  width: 100%;
}

.reseaux-sociaux,
.email-contact,
.copyright-footer {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.896);
  box-shadow: 0px 0px 9px 2px rgba(68, 66, 132, 0.75);
  padding: 15px;
}

/* PAGE EDITIONS : FIN FOOTER */

/* MEDIA QUERIES */
